APP_NAME=wallet-service
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=false
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/wallet_service
JWT_SECRET=super-secret-jwt-key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
PAYMENT_SECRET_KEY=gfdmhghif38yrf9ew0jkf32

